* { margin: 0; padding: 0; }
li {
  list-style: none;
}
a { text-decoration: none; }
body {
  background: #fff;
  font-family: 'arial', sans-serif;
  overflow-x: hidden;
  color: #454646;
}
body.noScroll {
  overflow: hidden;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
}
.blind { display: none; }
.link-btn {
  background: #e5e5e5;
  border-radius: 5px;
}
.icon {
  display: inline-block;
  background: url('../img/icon.png');
}
.icon-menu {
  width: 40px; height: 40px;
  background-position: -160px 0px;
}
.icon-menu.icon-close {
  background-position: -200px -120px;
}
.icon-search {
  width: 40px; height: 40px;
  background-position: -40px 0px;
}
.icon-map {
  width: 40px; height: 40px;
  background-position: -200px 0px;
}
.icon-bag {
  width: 40px; height: 40px;
  background-position: 0px 0px;
}
.icon-login {
  width: 40px; height: 40px;
  background-position: -80px 0px;
}
.icon-heart {
  width: 40px; height: 40px;
  background-position: -120px 0px;
}
.icon-heart.full {
  background-position: -120px -40px;
}
/*  sns icon  */
.icon-facebook {
  width: 40px; height: 40px;
  background-position: -0px -80px;
}
.icon-twitter {
  width: 40px; height: 40px;
  background-position: -40px -80px;
}
.icon-youtube {
  width: 40px; height: 40px;
  background-position: -80px -81px;
}
.icon-pinterest {
  width: 40px; height: 40px;
  background-position: -120px -82px;
}
.icon-instagram {
  width: 40px; height: 40px;
  background-position: -160px -80px;
}
.icon-close {
  width: 40px; height: 40px;
  background-position: -200px -80px;
}
/*  sns hover  */




/* ------------------------------------------------------------ */
/*  header  */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 115px;
  background: #fff;
  z-index:100;
  box-shadow: 0px 0.2px 10px #999;
  transition: all 0.3s ease;
}
header > div.wrapper {
  position: relative;
}
header.notrst {

}
/*  header.scroll  */
header.scroll{
  height: 65px;
  transition: all 0.3s ease;
}
header.on{
  height: 600px;
  transition: 0s;
}
header.scroll-on {
  height: 550px;
  transition: 0s;
}
.drop-down {
  position: absolute;
  top: 20px;
  height: 50px;
  transition: 0.3s;
  z-index:10;
}
/*  .dropdown.scroll  */
.scroll .drop-down {
  margin-top: -70px;
}
.drop-down > li {
  padding: 0 10px;
  float: left;
}
.drop-down > li:hover > ul{
  display: block;
}
.drop-down > li > a {
  font-size: 14px;
  color: #aaa;
}
.drop-down > li > ul {
  position: absolute;
  width: 140px;
  font-size: 12px;
  background: #fff;
  box-shadow: 0px 3px 20px #333;
  display: none;
  z-index: 6;
}
.drop-down > li > ul > li {
  display: block;
  padding-left: 10px;
}
.drop-down > li > ul > li:hover {
  background: #ffdd00;
}

.drop-down > li > ul > li > a{
  color: #000;
  line-height: 30px;
}



.top-area {
  position: relative;
  z-index: 2;
  top: 20px;
  transition: all 0.3s ease;
}
/*  top-area scroll  */
.scroll .top-area {
  top: 20px;
}

.top-area > h1 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.3s ease;
}
.top-area > h1.scroll {
  top: 20px;
}
.top-area > h1 > a > img {
  width: 80px;
}
.util-nav{position: absolute;}
.util-nav.scroll {
  margin-top: 0px;
}
.util-nav > li {
  width: 40px;
  height: 40px;
  float: left;
}
.util-nav > li > a {

}
.util-nav1{
  top:40px;
  left:0;
}
.util-nav1 li:nth-child(odd){display: none;}

.search-form {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 200px;
  height: 40px;
  overflow: hidden;
}
.search-form.scroll {
  margin-top: -25px;
}
.search-wrapper {
  position: absolute;
  top: 20px;
  left: -200px;
  padding-bottom: 10px;
  margin-top:-10px;
}

/*  search input  */
.search-form > div > input {
  position: absolute;
  top: -7px;
  width: 130px;
  height: 30px;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.search-form > div > button {
  position: absolute;
  top:-5px;
  left: 140px;
  width: 50px;
  height: 30px;
  border: none;
}


.util-nav2 {
  right: 0;
  top: 40px;
}

.gnb {
  padding: 50px 200px 0;
  height: 60px;
  transition: all 0.3s ease;
}
/*  .gnb scroll  */
.scroll .gnb {
  position: relative;
  top: 0px;
  margin-top: -65px;
}
.gnb > li {
  float: left;
  width: 20%;
  line-height: 60px;
}
.gnb > li:nth-child(2) {
  width: 40%;
}
.gnb > li > img {
  display: none;
}
.gnb > li:nth-child(2) a{
  width: 50%;
}
.gnb > li > a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #000;
}
.gnb > li > div {
  position: absolute;
  width: 25%;
  left: 0;
  height: 468px;
  background: #fff;
  border: 1px solid #ccc;
  border-right:0;
  display: none;
}

.gnb-back > ul {
  padding: 30px;
  height: 300px;
  box-sizing: border-box;
}
.gnb-back > ul > li {
  line-height: 40px;
}
.gnb-back > ul > li > a {
  color: #000;
}
.gnb > ul > li > a.menuclick {
  color: #ffdd00;
}

.gnb-back .nav-banner{
  height: 170px;
  border-top: 1px solid #ccc;
  line-height: 0;
  overflow: hidden;
}
.depth2-frame {
  display: none;
}
.depth2.scroll {
  margin-top: -65px;
}
.depth3frame {
  width: 75%;
  display: none;
  position: absolute;
  right: 0;
  height: 470px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  z-index: 15;
}

header.on .depth3frame{display: block;}
.depth3 {
  width: 90%;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0px;
  box-sizing: border-box;
}
.depth3 .swiper-slide > img {
  width: 100%;
}
.depth3 .swiper-slide > dl {
  text-align: center;
}
.depth3 .swiper-slide > dl > dt {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 14px;
}
.depth3 .swiper-slide > dl > dd {
  font-size: 14px;
  line-height: 24px;
}
.depth3frame .swiper-button-prev,
.depth3frame .swiper-button-next {
  background-size: 400px 160px;
  background-image: url(../img/icon.png);
  width: 36px;
  height: 44px;
  margin-top: -13px;
}

.depth3frame .swiper-button-prev {
  background-position: -290px -118px;
}
.depth3frame .swiper-button-next {
  background-position: -290px -78px;
}


/*  /header  */

/*  section > article  */
section {
  padding-top: 115px;
}
/*  .main-banner  */
.main-banner {
  width: 100%;
  height: 8000px;
  background: #000;
}
.m { display: none; }
/*  media query  */
/*
  [디바이스의 넓이]
  스마트폰   0~767px
  테블릿     768px이상(768~991)
  데스크탑   992px이상(992~1199)
  큰데스크탑 1200px이상(1200~)

  @media 미디어타입 and (디바이스의 넓이){
    //각 디바이스의 상황이 왔을 때 처리할 스타일 작성
  }
*/


/*  smart phone  0~767px  */
@media screen and (max-width:767px) {
header {
  height: 120px;
}
header.scroll {
  height: 55px;
}
header.on{
  width: 100%;
  height: 100%;
  transition: 0s;
}
header.scroll-on {
  height: 100%;
  transition: 0s;
}
header.on .depth3frame{ display: none;}
.drop-down {
  top:0;
  width: 100%;
  height: 30px;
  background: #000;
}
.drop-down > li > a{
  line-height: 30px;
  color: #fff;
  font-size: 12px;
}
.drop-down > li:hover > ul{
  display: none;
}
.top-area {
  top: 40px;
}
.scroll .top-area {
  top: -30px;
}
.util-nav {
  top: 0px;
}
.util-nav.scroll {
  margin-top: 40px;
}
.top-area > h1.scroll {
  top: 0px;
}
nav.wrapper {
  position: absolute;
  top: 120px;
  left:50%;
  transform: translateX(-50%);
  width: 100%;
}
nav.wrapper.top {
  top: 115px;
}
.gnb {
  display: none;
  padding-top: 15px;
  width: 100%;
  height: 84px;
  padding: 15px 0 0 0;
}
.gnb > li {
  width: 25%;
  line-height: 20px;
  overflow: hidden;
  height: 80px;
  border-top: 1px solid #ccc;
  border-bottom: 3px solid #aaa;
  cursor: pointer;
}
.gnb > li:nth-child(2) {
  width: 25%;
}
.gnb > li > a {
  height: 20px;
  font-size: 12px;
}
.gnb > li:nth-child(2) > a {
  width: 100%;
}
.gnb > li > a > img {
  margin-left: 50%;
  transform: translateX(-50px);
}
.util-nav1 li:nth-child(odd){display: inline-block;}
.search-form {
  width: 100%;
  height: 60px;
  top: 80px;
  left:0;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
}
.search-wrapper {
  width: 300px;
  top: 30px;
  left: 50%;
  transform: translateX(-150px);
}
.search-form > div > input {
  position: absolute;
  top: -7px;
  width: 230px;
  height: 30px;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.search-form > div > button {
  position: absolute;
  top:-5px;
  left: 240px;
  width: 50px;
  height: 30px;
  border: none;
}
.depth2-frame {
  position: relative;
  display: none;
  transition: all 0.3s ease;
}
.depth2-wrapper {
  margin: 0 50px;
  height: 45px;
  overflow: hidden;
}
.depth2 {
  height: 65px;
}
.depth2 > div > div {
  text-align: center;
  width: auto;
  line-height: 65px;
}
.depth2 a {
  font-size: 12px;
  color: #000;
}
.depth2-frame .swiper-button-prev,
.depth2-frame .swiper-button-next {
  background-size: 400px 160px;
  background-image: url(../img/icon.png);
  width: 36px;
  height: 44px;
  margin-top: -13px;
}
.depth2-frame .swiper-button-prev{
  background-position: -242px -75px;
  left: 0;
}
.depth2-frame .swiper-button-next{
  background-position: -242px -37px;
  right:0;
}
.depth3frame {
  position: static;
  width: 100%;
  height: 300px;
  transition: all 0.3s ease;
  border: 0px solid red;
}
.depth3frame .swiper-container {
  width: 100%;
  background: #fff;
}
.depth3frame .depth3{
left:0; top:0; transform: none;
}
.depth3frame .swiper-button-next,
.depth3frame .swiper-button-prev {
  display: none;
}
.depth3 .swiper-slide{text-align: center;}
.depth3 .swiper-slide > img{width: 80%;}
.depth3 .swiper-slide > dl {
  margin-top: 10px;
}

/*  mobile - section > article  */

/*  .main-banner  */

.m {
  display: block;
}
.p {
  display: none;
}
