* { padding: 0; margin: 0; font-size: 0; }
body { font-family: 'arial', sans-serif; color: #000; }
li { list-style: none;}
a { text-decoration: none; color: #000; outline: 0; }
.blind { display: none; }

.popup { position: fixed; right: -460px;  z-index: 1000; width: 460px; padding: 40px 32px; box-sizing: border-box; background: #fff; transition: all 0.3s ease; }
.popup h2 { position: relative; left: 50%; transform: translateX(-50%); display: inline-block; width: 100px; margin: 0 auto; margin-bottom: 30px; }
.popup h2 a { display: block; height: 100%; }
.popup h2 a img { width: 100%; }
.popup .pop_cont { border: 1px solid #e5e5e5; }


.popup.bag {  }
.popup.bag.on { right: 0; }
.popup.bag .pop_cont { border: 1px solid #e5e5e5; padding: 20px 50px; box-sizing: border-box; }
.popup.bag .pop_cont .title { padding-bottom: 15px; box-sizing: border-box; border-bottom: 2px solid #999; }
.popup.bag .pop_cont .title h3 { display: inline-block; font-size: 21px; color: #454546;  }
.popup.bag .pop_cont .list { height: 400px; overflow-y: auto; }
.popup.bag .pop_cont .list li { display: table; width: 100%; border-bottom: 1px solid #e5e5e5; padding: 10px 0; box-sizing: border-box; }
.popup.bag .pop_cont .list li input { margin-top: 20px; vertical-align: middle; }
.popup.bag .pop_cont .list li > a { display: table-cell; width: 70px; vertical-align: middle; margin: 0 0px; }
.popup.bag .pop_cont .list li > a img {width: 100%;}
.popup.bag .pop_cont .list li > dl { display: table-cell; vertical-align: middle; width: 75%;}
.popup.bag .pop_cont .list li > dl > dt { font-size: 14px; font-weight: bold; color: #454646; }
.popup.bag .pop_cont .list li > dl > dt > span { font-size: 16px; font-weight: normal; float: right; margin-right: 5px; }
.popup.bag .pop_cont .list li > dl > dt > select { vertical-align: middle; font-size: 12px; float: right; }
.popup.bag .pop_cont .list li > dl > dt::after {content:''; display: block; clear: both; }
.popup.bag .pop_cont .list li > dl > dd { font-size: 16px; }
.popup.bag .pop_cont .list li > dl > dd.price { font-size: 18px; font-weight: bold; }
.popup.bag .pop_cont .calc {  }
.popup.bag .pop_cont .calc > li { border-top: 1px solid #e5e5e5; }
.popup.bag .pop_cont .calc > li.tax { padding-bottom: 10px; box-sizing: border-box; }
.popup.bag .pop_cont .calc > li.tax > p { font-size: 16px; color: #454646; margin-top: 10px; }
.popup.bag .pop_cont .calc > li.total {  }
.popup.bag .pop_cont .calc > li.total > strong { display: block; margin-top: 10px; }
.popup.bag .pop_cont .calc > li.total > strong > span.text_total { font-size: 20px; font-weight: bold; color: #454646; }
.popup.bag .pop_cont .calc > li.total > strong > span.item_num { font-size: 16px;  color: #454646; font-weight: normal; margin-left: 10px; }
.popup.bag .pop_cont .calc > li.total > strong > span.total_price { float: right; font-size: 20px; font-weight: bold; color: #454646; margin-left: 10px; }
.popup.bag .pop_cont .calc > li.total > strong > em { font-size: 20px; font-weight: bold; color: #454646; float: right; font-style: normal; }
.popup.bag .pop_cont .calc > li.total > strong::after { content:''; display: block; clear: both; }
.popup.bag .btn_wrap { margin-top: 20px; }


.popup.login {  }
.popup.login.on { right: 0; }
.popup.login .pop_cont { padding: 40px 50px; box-sizing: border-box; }
.popup.login .pop_cont h3 { font-size: 26px; color: #454546; text-align: center;}
.popup.login .pop_cont input { width: 100%; height: 40px; margin-top: 20px; font-size: 14px; text-indent: 20px; border-radius: 5px; border: 2px solid #ddd;  }
.popup.login .pop_cont input::placeholder { color: #ccc;  }
.popup.login .forgot_wrap { margin-top: 10px; }
.popup.login .forgot_wrap > li { display: inline-block; vertical-align: top; }
.popup.login .forgot_wrap > li > a { font-size: 12px; text-decoration: underline; color: #551a8b; }
.popup.login .forgot_wrap > li.forgot_email { float: right; }
.popup.login .forgot_wrap::after { content:''; display: block; clear: both; }
.popup.login .pop_cont > p { font-size: 16px; color: #454546; line-height: 16px; border-bottom: 1px solid #454546; margin-top: 20px; }
.popup.login .pop_cont > p > a { font-size: 16px; font-weight: bold; color: #551a8b; }
.popup.login .pop_cont .btn_wrap { margin-top: 20px;}
.popup.login .pop_cont .btn_wrap::after {content:''; display: block; clear: both; }


.modal { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 70vw; height: 80vh; background: #fff; z-index: 9999; background: #f0f0f0; padding: 30px; box-sizing: border-box; overflow-y: scroll; }

.product { position: relative; height: 100%; }
.product > li { position: relative; display: inline-block; vertical-align: top; width: 50%; height: 100%; }
.product > li.img img { position: absolute; transform: translate(-50%, -50%); top: 50%; width: 90%; left: 50%; }
.product > li.info { text-align: left; padding-top: 80px; box-sizing: border-box; }
.product > li.info .text > p { font-size: 14px; color: #aaa; margin-bottom: 10px; }
.product > li.info .text > dl {  }
.product > li.info .text > dl > dt { font-size: 26px; color: #ffdd00; font-weight: bold; margin-bottom: 10px; }
.product > li.info .text > dl > dd {  }
.product > li.info .text > dl > dd > p { font-size: 24px; color: #454646; margin-bottom: 10px; }
.product > li.info .text > dl > dd > ul { margin-bottom: 20px; }
.product > li.info .text > dl > dd.list > p { font-size: 16px; color: #454646; margin-bottom: 5px; line-height: 26px; }
.product > li.info .text > dl > dd > strong { display: block; font-size: 28px; color: #454646; margin-bottom: 10px; }
.product > li.info .text> dl > dd > strong { display: block; font-size: 28px; color: #454646; margin-bottom: 10px; }
.product > li.info  > dl > dd > span { font-size: 12px; color: #bbb;  }

.product > li.info .btn_wrap { margin-top: 30px;}
.product > li.info .btn_list { margin-top: 30px; }
.product > li.info .btn_list > li { margin-bottom: 10px; }


.dim { display: none; position: fixed; width: 100%; height: 100%; background: #000; opacity: 0.5; z-index: 999;  }


header { position: fixed; width: 100%; z-index: 101; background: #fff;  }
.header_top { position: relative; height: 52px; background: #fff; z-index: 102; transition: all 0.3s ease;  }
.header_top .wrap { max-width: 1400px; margin: 0 auto; padding: 0 15px; padding-top: 19px; padding-bottom: 7px; box-sizing: border-box; z-index: 102; text-align: left; }

header h1 { display: inline-block; width: 80px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 20px; z-index: 999; }
header h1 > a { display: block; height: 100%; }
header h1 > a > img { width: 100%; }
header h1 > a > img.scroll {display: none;}

/* header.scroll { top: -52px; } */
header.scroll .header_top { height: 0; overflow: hidden;}
header.scroll h1 { bottom: -8px; }
header.scroll h1 > a > img {display: none;}
header.scroll h1 > a > img.scroll {display: block;}

.nation { position: relative; display: inline-block; padding-right: 20px; margin-right: 10px; }
.nation > a { display: block; height: 100%; font-size: 14px; line-height: 26px; color: #aaa; }
.nation > ul { position: absolute; top: 26px;  display: inline-block; display: none; min-width: 140px;  box-shadow: 0px 3px 20px #333; min-width: 140px; background: #fff; }
.nation:hover > a + ul { display: inline-block; }
.nation > ul > li { }
.nation > ul > li > a { display: block; height: 100%; font-size: 12px; line-height: 30px; transition: all 0.3s ease; padding-left: 5px;  }
.nation > ul > li > a:hover { background: #ffdd00; color: #fff; }
.lang { position: relative; display: inline-block; }
.lang > a { display: block; height: 100%; font-size: 14px; color: #aaa; line-height: 26px;  }
.lang > ul { position: absolute; top: 26px; display: inline-block; display: none; min-width: 140px; box-shadow: 0px 3px 20px #333;  background: #fff; }
.lang:hover > a + ul { display: inline-block; }
.lang > ul > li {  }
.lang > ul > li > a { display: block; height: 100%; font-size: 12px; line-height: 30px; padding-left: 5px; transition: all 0.3s ease; }
.lang > ul > li > a:hover { background: #ffdd00; color: #fff; }

.header_bot { position: relative; z-index: 100; background: #fff; }
.header_bot .wrap { position: relative; max-width: 1400px; margin: 0 auto; padding: 0 20px; box-sizing: border-box; }

#gnb { width: 100%; margin: 0 auto; }
#gnb > li { display: inline-block; width: 14.2%; }
#gnb > li > a { display: block; font-size: 16px; line-height: 60px; text-align: center; }
#gnb > li > a:hover > span.gnb_arrow {display: inline-block; }


.lnb_wrap { display: none; position: relative; z-index: 1; }
.lnb_wrap .lnb > li { display: inline-block; vertical-align: top; width: 25%; }
.lnb_wrap .lnb > li > a { display: block; height: 100%;}


.search_box { position: absolute; top:50%; transform: translate(0, -50%); min-width: 40px; height: 40px; overflow: hidden; }
.search_box .search_input { display: inline-block; vertical-align: middle; margin-left: -168px; background: #fff; transition: margin 0.3s ease; }
.search_box .search_input.on { margin-left: 40px;  }
.search_box .search_input input { top: -7px; width: 110px; height: 30px; text-indent: 10px; border-radius: 5px; border: 1px solid #e5e5e5; font-size: 14px; vertical-align: middle; }

.icon { position: absolute; top:50%; transform: translate(0, -50%);  right: 20px; display: inline-block; }
.icon > li { display: inline-block; width: 40px; height: 40px; }
.icon > li > a { display: block; height: 100%; }

.submenu_wrap { position: relative; background: #fff; }
.sub_menu { position: absolute; width: 100%; left: 0; min-height: 490px; top: -602px; transition: all 0.5s ease; background: #fff; padding: 0 20px; padding-bottom: 20px; box-sizing: border-box; }
.sub_menu.on { box-shadow: 0px 15px 10px -15px #111;  }


.sub_menu > ul { max-width: 1400px; margin: 0 auto; border: 1px solid #ccc; box-sizing: border-box; }
.sub_menu > ul > li { display: inline-block; vertical-align: top;}
.sub_menu > ul .left {width: 25%; border-right: 1px solid #ccc; box-sizing: border-box; }
.sub_menu > ul .left .category { padding: 30px; box-sizing: border-box; min-height: 300px; }
.sub_menu > ul .left .category > div {  }
.sub_menu > ul .left .category > div > ul { display: inline-block; }
.sub_menu > ul .left .category > div > ul > li  { display: block; }
.sub_menu > ul .left .category > div > ul > li > a { display: block; height: 100%; font-size: 16px; line-height: 40px; }
.sub_menu > ul .left .category > div > ul > li > a:hover { color: #ffdd00; }
.sub_menu > ul .left .category > div > ul > li > a.on { color: #ffdd00; }

.sub_menu > ul .left .category .swiper-button-prev {left: 0; width: 40px; height: 40px; background: url('../images/icon.png') no-repeat; background-position: -160px -40px; transform: rotate(90deg); opacity: 1; }
.sub_menu > ul .left .category .swiper-button-next {right: 0; width: 40px; height: 40px; background: url('../images/icon.png') no-repeat; background-position: -160px -40px; transform: rotate(-90deg); opacity: 1;}

.sub_menu .left .banner { border-top: 1px solid #ccc; box-sizing: border-box; overflow: hidden; }
.sub_menu .left .banner img { width: 100%;  }

.sub_menu > ul .left .category .pc_category {  }
.sub_menu > ul .left .category .pc_category > li {  }
.sub_menu > ul .left .category .pc_category > li > a { display: block; height: 100%; font-size: 16px; line-height: 40px; }
.sub_menu > ul .left .category .pc_category > li > a.on {color: #ffdd00; }

.sub_menu > ul .left .category .swiper-container {
  display: none;
  width: 100%;
  height: 100%;
}
.sub_menu > ul .left .category .swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.sub_menu .right { position: relative; width: 75%; height: 100%; box-sizing: border-box; padding-top: 85px; box-sizing: border-box;  }

.sub_menu .right .swiper-container {
  width: 90%;
  height: 100%;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.sub_menu .right .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.sub_menu .right .swiper-container .swiper-wrapper { width: 100%; }
.sub_menu .right .swiper-container .swiper-slide a { display: block; height: 100%; }
.sub_menu .right .swiper-container .swiper-slide a img { width: 100%;  }
.sub_menu .right .swiper-container .swiper-slide a dl { text-align: center; }
.sub_menu .right .swiper-container .swiper-wrapper .swiper-slide a dl > dt { font-size: 22px; font-weight: bold; color: #464545; margin-bottom: 10px; }
.sub_menu .right .swiper-container .swiper-wrapper .swiper-slide a dl > dd { font-size: 14px; font-weight: bold; color: #464545; margin-bottom: 5px; }

.sub_menu .right .swiper-button-next { background: url('../images/icon.png'); width: 36px; height: 44px; margin-top: -13px; background-position: -290px -78px; }
.sub_menu .right .swiper-button-prev { background: url('../images/icon.png'); width: 36px; height: 44px; margin-top: -13px; background-position: -290px -118px; }



footer { }
.footer_top { background: #101010; padding: 80px 0; box-sizing: border-box; }
.footer_top h2 { font-size: 36px; text-align: center;  color: #ffdd00; margin-bottom:  30px; }
.footer_top .sns_wrap { text-align: center; }
.footer_top .sns_wrap > li { display: inline-block; width: 40px; height: 40px; margin: 0 7px; }
.footer_top .sns_wrap > li > a {display: block; height: 100%; }

.footer_top .footer_menu { text-align: left; margin-top: 80px; }
.footer_top .footer_menu > li { display: inline-block; vertical-align: top; width: 25%; }
.footer_top .footer_menu > li > a { display: block; font-size: 20px; font-weight: bold; color: #c2c2c2; margin-bottom: 10px; }
.footer_top .footer_menu > li > ul {  }
.footer_top .footer_menu > li > ul > li {  }
.footer_top .footer_menu > li > ul > li > a { font-size: 12px; color: #fff; line-height: 30px; }
.footer_top .footer_menu > li > ul > li > a:hover { color: #ffdd00; }


.footer_bot {  background: #e5e5e5; }
.footer_bot div > ul {text-align: left; }
.footer_bot div > ul > li { display: inline-block; vertical-align: top; margin-right: 10px; }
.footer_bot div > ul > li > a { display: block; height: 100%; font-size: 12px; line-height: 30px; }



.layout_wrap {  }
.layout_wrap img { display: block; margin:0 auto; width: 100%; margin-bottom: 80px; border: 1px solid #000; }





@media screen and (max-width:1199px) {
  .sub_menu { max-width: 1199px; padding: 0 20px; padding-bottom: 20px; box-sizing: border-box; min-height: initial;}
  .sub_menu .right { padding-top: 60px; }
  .sub_menu > ul .left .category .pc_category > li {margin-bottom: 10px; }
  .sub_menu > ul .left .category .pc_category > li > a { font-size: 14px; line-height: 24px; }
  #gnb > li > a { font-size: 14px; }
  .product > li.info { padding-top: 60px;}
  .product > li.info > dl > dt {font-size: 22px;}
  .product > li.info > dl > dd > p {font-size: 18px; }
  .product > li.info > dl > dd.list > p { font-size: 14px; color: #454646; margin-bottom: 5px; line-height: 26px; }
  .product > li.info > dl > dd > ul > li { font-size: 14px; }
  .product > li.info > dl > dd > strong { font-size: 22px; }
  .footer_top .wrap { padding: 0 80px; box-sizing: border-box; }
  .footer_bot .wrap { padding: 0 80px; box-sizing: border-box; }
  .sub_menu > ul .left .category > div > ul > li > a {font-size: 14px; }
}
@media screen and (max-width:991px) {
  .sub_menu .right { padding-top: 30px; }
  .sub_menu > ul .left .category > div > ul > li > a {font-size: 12px; word-break: keep-all; }
  .product > li.info > dl > dt {font-size: 18px}
  .product > li.info > dl > dt {font-size: 20px;}
  .product > li.info > dl > dd > p {font-size: 16px; }
  .product > li.info > dl > dd.list > p { font-size: 12px; color: #454646; margin-bottom: 5px; line-height: 26px; }
  .product > li.info > dl > dd > ul > li { font-size: 12px; }
  .product > li.info > dl > dd > strong { font-size: 20px; }
  .main_visual .swiper-container .swiper-pagination > span > span {font-size: 14px;}
  #gnb > li { width: 12%; min-width: 12%; }
  #gnb > li.wide_li { min-width:15%; }
  .footer_top .footer_menu > li{ width: 50%; margin-bottom: 40px; }
}
@media screen and (max-width:766px) {
  .popup {width :100%; max-height: 100%; right: -100%; overflow-y: scroll; }
  .modal { width: 100%; height: 100%;  }
  .modal > ul {  }
  .modal > ul > li { width: 100%; height: 50%; }

  .icon {transform: none; right: 5px; }
  .search_box { transform: translate(0px, -0%); left: 5px; overflow: visible; }
  .search_box .search_input { width: 100vw; position: absolute; top: 87px; left: 0; margin-left: calc(-100vw - 5px); padding: 10px 0; box-sizing: border-box;  }
  header.scroll  .search_box .search_input { width: 100vw; position: absolute; top: 42px; left: 0; margin-left: calc(-100vw - 5px); padding: 10px 0; box-sizing: border-box;  }
  .search_box .search_input.on { display: block; position: absolute; top: 87px; margin-left: -5px; transition: margin-left 0.3s ease; }
  header.scroll .search_input.on { top: 42px; margin-left: -5px; transition: margin-left 0.3s ease; }

  .search_box .search_input input { width: 50vw; }
  .header_top {height: 26px; background: #000; }
  .header_top .wrap {padding: 0px 20px; }
  .nation > a { color: #fff; }
  .lang > a{color: #fff;}
  .header_bot { height: 92px; padding-top: 5px; box-sizing: border-box; }
  header.scroll .header_bot {height: 52px; }
  header h1 { top: 35px; transition: all 0.1s ease; }
  header.scroll h1 { top: -10px;}
  #gnb {display: none; }
  /* .sub_menu .right .swiper-container { width: 80%; } */
  .footer_top h2 {font-size: 28px;}
  .footer_top .footer_menu > li {width: 100%; margin-bottom: 20px; }
  .footer_top .footer_menu > li > a { position: relative; font-size: 16px; line-height: 30px; border-bottom: 1px solid #c2c2c2; }
  .footer_top .footer_menu > li > a:after {content:''; display: inline-block; position: absolute; right: 20px; width: 40px; height: 40px;  }
  .footer_top .footer_menu > li > ul {display: none; background: #555; padding: 30px 0; box-sizing: border-box; }
  .footer_top .footer_menu > li > ul > li { width: 80%; margin: 0 auto; }

  /* sub_menu */
  .submenu_wrap.on { left: 0; }
  .submenu_wrap { position: absolute; width: 100%; height: 100vh; left: -100%; border-top: 1px solid #ccc; border-bottom: 3px solid #aaa; transition: all 0.5s ease; }
  .sub_menu { top:0 !important; position: relative; height: 100%; }
  .sub_menu.cameras { display: none;}
  .sub_menu.lenses {display: none;}
  .sub_menu.accessories {display: none;}
  .sub_menu.cameras.on { display: block;}
  .sub_menu.lenses.on {display: block;}
  .sub_menu.accessories.on {display: block;}
  .sub_menu > ul {border: 0;}
  .sub_menu > ul .left { width: 100%; border: 0; }
  .sub_menu > ul .left .banner {display: none;}
  .sub_menu > ul .right { padding-top: 10px;}
  .sub_menu > ul .left .category { min-height: inherit; position: relative; }
  .sub_menu > ul .left .category .swiper-button-prev {left: 0;}
  .sub_menu > ul .left .category .swiper-button-next {right: 0;}
  .sub_menu > ul .left .category > div > ul {display: flex; }
  .sub_menu > ul .left .category > div > ul > li > a {font-size: 11px; line-height: 20px; }
  .sub_menu > ul .left .category .swiper-container {display: block;}
  .sub_menu > ul .left .category .pc_category {display: none;}
  .sub_menu .right {width: 100%; }
  .lnb_wrap { display: block; position: relative; z-index: 1; padding: 10px 0; box-sizing: border-box; border-bottom: 3px solid #aaa; }
  .lnb_wrap > li { display: inline-block; vertical-align: top; width: 25%; }

  .footer_top .wrap { padding: 0 0px; box-sizing: border-box; }
  .footer_top .footer_menu { margin: 0 auto; margin-top: 30px; }
  .footer_top .footer_menu > li > a { position: relative; width: 80%; margin: 0 auto; }
  .footer_top .footer_menu > li > a::after {content:''; position: absolute; width: 20px; height: 11px; top: 50%; transform: translate(0, -50%); right: 20px; background: url('../images/footer_arrow.png') no-repeat; transition: all 0.3s ease; }
  .footer_top .footer_menu > li > a.on {border: 0;}
  .footer_top .footer_menu > li > a.on::after { margin-top: -3px; transform: rotate(180deg);}
  .footer_bot .wrap { padding: 0 20px; }
  /* //sub_menu */
}
@media screen and (max-width:452px) {
  .popup.bag .pop_cont {padding: 20px 20px; }
  .popup.bag .pop_cont .list li > a {width: 70px; }
  .popup.login .pop_cont {padding: 20px 20px;}
  .popup.login .pop_cont h3 { font-size: 22px;}
  .popup.login .pop_cont > p {font-size: 14px;}
  .popup.login .pop_cont > p > a {font-size: 14px;}

}
@media screen and (max-width:380px) {
  header h1 {width: 70px;}
  .sub_menu .right .swiper-container .swiper-slide a img {width: 80%; }
  .sub_menu .right .swiper-button-next { right: 0; }
  .sub_menu .right .swiper-button-prev { left: 0; }
  .popup.bag .pop_cont .title h3 {font-size: 16px;}
  .popup.bag .pop_cont .list li > dl > dt {font-size: 14px; }
  .popup.bag .pop_cont .list li > dl > dd {font-size: 12px; }
  .popup.bag .pop_cont .list li > a {margin: 0;}
  .popup.bag .pop_cont .calc > li.tax > p { font-size: 12px;}
  .popup.bag .pop_cont .calc > li.total > strong > span.text_total {font-size: 16px; }
  .popup.bag .pop_cont .calc > li.total > strong > span.item_num {font-size: 12px; }
  .popup.bag .pop_cont .calc > li.total > strong > span.total_price {font-size: 16px; }
  .popup.bag .pop_cont .calc > li.total > strong > em {font-size: 16px; }
  .popup.login .forgot_wrap > li {width: 100%;}
  .popup.login .pop_cont > p {font-size: 11.5px;}
  .popup.login .pop_cont > p > a {font-size: 11.5px;}
  .popup.bag .pop_cont .list li > a { width: 65px; }
}











/*  */
