* { margin:0; padding:0; }
li { list-style: none; }
a { text-decoration: none; }
.blind { display: none; }
.wrapper { max-width: 1340px; margin: auto; }

/*  font  */
@font-face{ font-family: gotham-bold-webfont; src:url(../font/gotham-bold-webfont.woff); }
@font-face{ font-family: gotham-book-webfont; src:url(../font/gotham-book-webfont.woff); }
@font-face{ font-family: gotham-light-webfont; src:url(../font/gotham-light-webfont.woff); }

/*  body  */
body { font-family: gotham-book-webfont; overflow-x: hidden; }
.mobile-menu { position: absolute; z-index: 10000; width: 100%; height: 100vh; background: rgba(26,26,26,0.8); margin-top: -5px; display: none; overflow-y:scroll; padding-bottom: 100px; box-sizing: border-box;}
.mobile-menu > ul { display: block; }
.mobile-menu > ul > li { display: block; }
.mobile-menu > ul > li > a { display: inline-block; color: #fff; font-size: 16px; font-family: gotham-bold-webfont; padding: 21px 25px; }
.mobile-menu > ul > li > a:hover { color: #e02e28; }
.mobile-menu > ul > li > ul > li > a { display: inline-block; color: #fff; font-size: 16px; font-family: gotham-bold-webfont; padding: 12px 50px; font-family: gotham-book-webfont; }
.mobile-menu > ul > li > ul > li > a:hover { color: #e02e28; }

/*  header  */
header { position: fixed; z-index: 10000; width: 100%; }
header > div { padding: 0 120px;  display: flex; }
header > div > h1 { width: 410px; height: 60px; float: left;}
/* header > div > h1:nth-child(2) { display: none; } */
/* header > div > h1:nth-child(2) > a > img { width: 32%; } */
header > div > h1 > a { display: inline-block; }
header > div > h1 > a > img { width: 138px; padding-top: 7px;}
header > div > div.menu-bar { display: none; position: absolute; width: 40px; height: 40px; margin-top: 10px; cursor: pointer; }
header > div > div.menu-bar > span { display: block; width: 25px; height: 2px; background: #fff; margin-top: 6px;  margin-left: 50%; transform: translateX(-50%); }
header > div > div.menu-bar > span:nth-child(1) { margin-top: 10px; }
header.scroll { background: #1a1a1a; }


header > div > div.main-menu { width: 50%; float: left;}
.main-menu > ul { float: left; position: relative; left: 50%; transform: translateX(-50%); display: flex;}
.main-menu > ul > li { float: left; }
.main-menu > ul > li > a { font-size: 16px; color: #fff; display: inline-flex; padding: 24px; text-shadow: 0 2px 2px rgba(0,0,0,0.3);}
.s-logo { display: none; }
.main-menu > ul > li > a > i { display: inline-block; background: url('../img/arrow-down.png') no-repeat; background-size: 100%; width: 10px; height: 10px; margin-left: 15px; transform: translateY(5px); }
.main-menu > ul > li > a:hover > i { background: url('../img/arrow-down-red.png') no-repeat; background-size: 100%; }
.main-menu > ul > li > ul { display: none; position: absolute; top: 60px;}

/*  header.scroll -> dropdown-menu background  */
header.scroll .main-menu > ul > li > a { color: #b3b3b3; }
header.scroll .main-menu > ul > li > a > i { background: url('../img/arrow-down_gray.png') no-repeat; background-size: 100%; }
header.scroll .main-menu > ul > li > a:hover > i { background: url('../img/arrow-down.png') no-repeat; background-size: 100%; }
header.scroll .main-menu > ul > li > a:hover { color: #fff; }
header.scroll .main-menu > ul > li > ul { background: #1a1a1a; }
header.scroll .main-menu > ul > li > ul > li > a { color: #b3b3b3; }
header.scroll .main-menu > ul > li > ul > li > a:hover { color: #e02e28; }

.main-menu > ul > li:hover > a { color: #e02e28; }
.main-menu > ul > li:hover > ul { display: block; background: rgba(26,26,26,0.7); border-bottom: 2px solid #e02e28; }
.main-menu > ul > li > ul > li > a { padding: 12px 50px 12px 30px; color: #fff; display: block; text-shadow: 0 2px 2px rgba(0,0,0,0.3);}
.main-menu > ul > li > ul > li:hover > a { color: #e02e28; }

header.scroll .login > ul > li:nth-child(2) > a { color: #b3b3b3; }
header.scroll .login > ul > li:nth-child(2) > a:hover { color: #fff; }
header.scroll .login > ul > li:nth-child(2) > a:hover > i { color: #fff; }

.login { width: 410px; display: block; overflow: hidden; float: left;}
.login > ul { float: right; }
.login > ul > li { float: left; }
.login > ul > li > a { font-size: 16px; font-weight: bold; padding: 10px 15px;  color: #fff; display: block; margin-top: 13px;}
.login > ul > li:nth-child(2) > a > i { margin-right: 10px;}
.login > ul > li:nth-child(2):hover > a { color: #e02e28; }
.login > ul > li:nth-child(2):hover > a > i { color: #e02e28; }
.login > ul > li:first-child > a { color: #e02e28; text-shadow: none;}
.login > ul > li:first-child > a:hover { background: #e02e28; color: #fff; box-sizing: border-box; border-radius: 5px;}


/* section */

/*  background  */
.background { width: 100%; height: 100vh; overflow: hidden; }
.background > img { position: relative; min-width: 100%; height: 100%; overflow: hidden; margin-left:50%;  transform: translateX(-50%) ; }
.background > p { position: absolute; bottom: 0; right:0; color: #fff; font-size: 14px; }
.background > div { position: absolute; z-index: 1; left: 50%; bottom: 15%; transform: translateX(-50%); width: 600px; overflow: hidden;}
.background > div > img { width: 200px; margin-left: 50%; transform: translateX(-100px); }
.background > div > h2 { font-size: 38px; color: #fff; font-weight: 1; margin-top: 40px; text-align: center;}

/*  article.artist  */
.artist { background: #1a1a1a; color: #fff; margin-top: -5px; overflow: hidden; }
.artist h2 { font-size: 48px; font-weight: 1; text-align: center; padding-top: 100px; }
.artist p:nth-child(2) { font-size: 22px; text-align: center; padding-top: 50px; padding-bottom: 100px; }
.artist button { background: #e02e28; border: 0; color: #fff; width: 310px; height: 40px; font-size: 18px; font-weight: 1; margin-left: 50%; transform: translateX(-155px); }
.artist img { padding-top: 50px; width: 80%; margin-left: 50%; transform: translateX(-50%); }
.artist p:last-child { font-size: 14px; text-align: right; }


/*  article.pbr  */
.pbr { background: #101010; color: #fff; overflow: hidden; }
.pbr > div > h2 { font-size: 48px; font-weight: 1; text-align: center; padding-top: 100px; }
.pbr > div > p:nth-child(2) { font-size: 24px; text-align: center; padding-top: 50px; padding-bottom: 100px; }
.pbr > img { padding-top: 50px; width: 80%; margin-left: 50%; transform: translateX(-50%); }
.pbr > p:nth-child(3) { font-size: 14px; text-align: right; }
.pbr > h3 { font-size: 22px; font-weight: 1; text-align: center; padding-top: 100px; }
.pbr > ul { padding-top: 50px; }
.pbr > ul > li { padding-left: 20px; padding-right: 20px; padding-bottom: 100px; box-sizing: border-box; background: #101010;}
.pbr > ul > li > div { overflow: hidden; }
.pbr > ul > li > div img { width: 100%;  }
.pbr > ul > li > div > p { text-align: center; font-size: 18px; padding-top: 25px; }
.pbr > p:nth-child(6) { font-size: 14px; text-align: right; }


/*  article.augmented  */
.augmented { background: #060a0d; color: #fff; text-align: center; }
.augmented > h2 { font-size: 48px; font-weight: 1; padding-top: 100px; }
.augmented > p:nth-child(2) { font-size: 22px; padding-top: 50px; }
.augmented > ul { padding-top: 120px; overflow: hidden; }
.augmented > ul > li > img { width: 80%; }
.augmented > ul > li > p:nth-child(2){ font-size: 32px; padding-top: 20px; }
.augmented > ul > li > p:nth-child(3){ font-size: 18px; padding-top: 20px; }
.augmented > img { padding-top: 180px;  }
.augmented > p:nth-child(5) { text-align: right; font-size: 14px; }
.augmented > img { width: 80%; }

/*  article.texturing  */
.texturing .swiper-container {
  width: 100%;
}
.texturing .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.texturing .swiper-slide > p { position: absolute; color: #fff; }
.texturing .swiper-slide > p:nth-child(1) { top: 100px; font-size: 2em; }
.texturing .swiper-slide > p:nth-child(2) { top: 200px; font-size: 1em; }
.texturing .swiper-slide > img { width: 100%;  }
.texturing .swiper-button-next { background: url(../img/right_arrow-512.png); background-size: 100%; width: 42px; height: 42px;  }
.texturing .swiper-button-prev { background: url(../img/right_arrow-512_1.png); background-size: 100%; width: 42px; height: 42px; }

/*  article.vfx  */
.vfx { background: #1a1a1a; color: #fff; text-align: center; overflow: hidden;}
.vfx h2 { font-size: 48px; font-weight: 1; padding-top: 100px; }
.vfx > p:nth-child(2) { padding-top: 30px; font-size: 24px; }
.vfx ul { padding-top: 180px; overflow: hidden; }
.vfx > ul > li { padding-bottom: 10px; }
.vfx > ul > li > p { padding-top: 5px; font-size: 18px; }

/*  article.world  */
.world { background: #fbfbfb; color: #333; text-align: center; }
.world > div > h2 { font-size: 48px; font-weight: 1; padding-top: 100px; }
.world > div > p:nth-child(2) { font-size: 22px; padding-top: 40px; }
.world > div > ul { width: 100%; margin-left: 50%; transform: translateX(-50%);  padding-top: 50px; overflow: hidden;}
.world > div > ul > li > img { width: 70%; }
.world > div > img { width: 100%; padding-top: 50px; padding-bottom: 130px; }

/*  article.praise  */
.praise { background: #eaebe9; text-align: center; color: #333; overflow: hidden;}
.praise h2 { font-size: 48px; font-weight: 1; padding-top: 100px; }
.praise > p:nth-child(2) { padding-top: 30px; font-size: 24px; }
.praise > ul { padding-top: 30px; overflow: hidden; padding-bottom: 30px; }
.praise > ul > li { padding-bottom: 100px;  }
.praise > ul > li > img { width: 100%; }
.praise > ul > li > p { font-size: 18px; line-height: 26px; }

/*  article.spec  */
.spec { background: #767676; overflow: hidden; }
.spec > div { overflow: hidden; }
.spec > div > ul { wdith: 100%; }
.spec > div > ul > li > a { line-height: 98px; color: #e02e28; cursor: pointer; font-size: 18px;  }
.spec > div > ul > li > a:hover { color: #000; }
.spec > div > ul > li { padding-left: 30px; padding-right: 30px; box-sizing: border-box; }
.spec > div > ul > li:nth-child(1) { text-align: right; }
.spec > div > ul > li:nth-child(2) { text-align: left; }


/*  /section  */
/*  footer  */
footer { background: #191919; }
footer > div > ul.footer-nav { padding-top: 40px; display: flex; }
.footer-nav > li { flex-grow:1;}
.footer-nav > li > a { display: block; text-align: center; color: #fff; }
.footer-nav > li > a:hover { color: #e02e28; }
footer > div > h2, footer > div > h3 { margin-top: 50px; color: #fff; text-align: center; font-weight: normal;}
footer > div > p { margin-top: 30px; font-size: 16px; color: #fff; text-align: center;}
footer > div > .email { display: flex;  justify-content: center; margin:0 10px; margin-top: 30px;}
footer > div > ul.footer-sns { display: flex; flex-flow: row wrap; margin: auto; margin-top: 50px; width: 800px;}
.footer-sns > li { width: 20%; margin: 10px 0px; }
.footer-sns > li > a { color: #fff; display: block; height: 100%; }
.footer-sns > li > a > i { margin-right: 10px; vertical-align: middle; }
.footer-sns > li:nth-child(1) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/youtube.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(1) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/youtube_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(2) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/insta.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(2) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/insta_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(3) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/twitter.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(3) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/twitter_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(4) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/facebook.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(4) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/facebook_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(5) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/linkedin.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(5) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/linkedin_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(6) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/discord.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(6) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/discord_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(7) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/reddit.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(7) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/reddit_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(8) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/facebook.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(8) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/facebook_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(9) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/pinterest.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(9) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/pinterest_1.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(10) > a > i { display: inline-block; width: 32px; height: 32px; background: url('../img/insta.png') no-repeat; background-size: 100%; }
.footer-sns > li:nth-child(10) > a.hover > i { display: inline-block; width: 32px; height: 32px; background: url('../img/insta_1.png') no-repeat; background-size: 100%; }
.email > input { max-width: 550px; height: 40px; border: none; width: 100%;  }
.email > button { background: #e02e28; width: 120px; height: 40px;  border:none; }
.email > button > a { color: #fff; display: block; }
footer > div > span.adobe { text-align: center; display: block; margin-top: 30px; }
footer > div > span.adobe > img { width: 30px; }
footer > div > span:nth-child(9) { display: block; margin-top: 10px; color: #fff; font-size: 16px; text-align: center; padding-bottom: 30px; }


/*  media query   */
@media screen and (max-width:1600px) {
  header > div > h1 { width: 210px; }
}
@media screen and (max-width:1355px) {
  header > div { padding: 0 60px; }
  .texturing .swiper-slide > p:nth-child(1) { top: 50px; }
  .texturing .swiper-slide > p:nth-child(2) { top: 100px; }
}
@media screen and (max-width:1200px) {
  .praise > ul > li { height: 400px;}
}
@media screen and (max-width:1024px) {
  header > div { padding: 0; }
  header > div > h1 { display: none; }
  header > div > div.main-menu { width: 100%; }
  header > div > div.menu-bar { display: block; }
  .menu-btn { display: none; }
  .main-menu > ul > li > a { padding: 10px 0;  display: inline-block;}
  .s-logo { display: inline-block; }
  .s-logo > a > img { width: 35%; margin-left: 50%; transform: translateX(-50%);}
  .login { display: inline-block; width: initial; right: 0;}
  .login { position: absolute; }
  .login > ul > li:first-child { display: none; }
  .login > ul > li:nth-child(2) { width: initial; }
  .login > ul > li:nth-child(2) > a { visibility: hidden; display: block; }
  .login > ul > li:nth-child(2) > a > i { visibility: visible; font-size: 20px; float: right; display: block;}
  .texturing .swiper-slide > p:nth-child(1) { font-size: 1.2em; }
  .texturing .swiper-slide > p:nth-child(2) { font-size: 0.8em; }
  .praise > ul > li { width: 99%; }
}
@media screen and (max-width:840px) {
  .footer-sns { display: inline-block; }
  footer > div > ul.footer-sns { width: 90% }
  footer > div > ul.footer-sns > li { width: 33.3%; }
}
@media screen and (max-width:810px) {
  .footer-sns { display: inline-block; }
}
@media screen and (max-width:630px) {
  .artist img { width: 100%; }
  .artist p:nth-child(2) { padding: 50px 20px; }
  .pbr > div > p:nth-child(2) { padding: 50px 20px; }
  .pbr > ul > li { padding-bottom: 32px; }
  .pbr > img { width: 100%;  }
  .pbr > h3 { padding: 100px 20px 20px 20px; }
  .augmented > ul { padding: 120px 20px 0 20px; }
  .vfx > p:nth-child(2) { padding: 50px 20px;  }
  .world > div > ul > li > img { width: 100%; }
  .world > div > p:nth-child(2) { padding: 40px 20px 0 20px; }
  .praise > p:nth-child(2) { padding:30px 20px 0 20px; }
  .texturing .swiper-slide > p:nth-child(1) { top: 10px; font-size: 0.8em; }
  .texturing .swiper-slide > p:nth-child(2) { top: 50px; font-size: 0.5em; }
  footer > div > ul.footer-nav { display: block; }
  footer > div > ul.footer-nav > li { display: block; margin: 20px;}
  footer > div > ul.footer-sns { margin: 30px 20px; width: initial;}
  footer > div > ul.footer-sns > li { width: 50%; }
}
@media screen and (max-width:600px) {
  .background > div { width: auto;  }
  .background > div > h2 { margin-top: 10px; }
  .augmented > ul > li { padding-bottom: 30px; }
  .augmented > img { padding-top: 30px; }
  .vfx ul { padding-top: 80px; padding-bottom: 40px; overflow: hidden; }
  .praise > ul > li { padding-bottom: 40px; }
}
