* { margin:0; padding:0; }
.wrapper {
  max-width: 1140px;
  margin: auto;
  /* outline: 1px solid red; */
}
.blind { display: none; }
a { text-decoration: none;}
li { list-style: none; }
h2 { font-size: 24px; color: #333; }
@font-face {
    font-family: 'functionpro_book';
    src: url(../font/FunctionPro-Book-webfont.woff);
}

/*  body css  */
body {
  font-family: 'functionpro_book';
  overflow-x: hidden;
  font-size: 18px;
}
header {
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 100;
  transition: 0.5s ease;
}
header.scroll {
  background: rgba(51, 51, 51, 0.4);
  /* background: rgba(156, 153, 151, 0.5); */
}
header li {
  display: inline-block;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
header li:nth-child(1) {
  width: 67%;
  padding-left: 0;
  padding-right: 0px;
}
header li a { color: #fff; line-height: 40px; cursor: pointer;}
header li:hover {

}
header h1 { margin-top: 40px; transition: 0.5s ease; padding-bottom: 5px;}
header h1.scroll { margin-top: 10px; }
header li:nth-child(1) img {
  width: 65px;
}
header li:nth-child(1) ~* {
  vertical-align: 10px;
}
header li:nth-child(1) ~*:hover a {
  border-bottom: 1px solid #fff;
}

.main-banner { overflow: hidden; height: 978px; }
.main-banner > img {
  position: relative;
  top: -280px;
  width: 115%;
}
.main-banner div {
  position: absolute;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-bottom: 40px;
  z-index: 1;
}
.main-banner > div > h2:nth-child(1) {
  position: absolute;
  margin-top: 60%;
  color: #fff;
  font-size: 50px;
  width: 100%;
  text-align: left;
  opacity: 0;
  transition: 1s ease;
}
.main-banner > div > h2:nth-child(1).onload {
  margin-top: 53%;
  opacity: 1;
}
.main-banner > div > h2:nth-child(2) {
  position: relative;
  margin-top: 65%;
  color: #fff;
  font-size: 44px;
  width: 100%;
  text-align: left;
  opacity: 0;
  transition: 1s ease;
}
.main-banner > div > h2:nth-child(2).onload {
  margin-top: 59%;
  opacity: 1;
}
.main-banner > div > div {
  position: absolute;
  margin-top: -50px;
  margin-left: 433px;
  text-align: center;
  width: 140px;
  height: 17px;
  background: #fff;
  color: rgba(187,145,120,0.9);
  font-size: 44px;
  font-weight: bold;
  transition: 1s ease;
  opacity: 0;
}
.main-banner > div > div.onload { margin-left: 360px; opacity: 1; }
.main-banner p:nth-child(3) {
  margin-top: 0;
}



.portfolio { padding-bottom: 40px; }
.portfolio > div { overflow: hidden; }
.portfolio > div:nth-child(1) { padding-top: 40px; }
.portfolio > div:nth-child(2) { max-width: 1180px; }
.portfolio h2 { color: #333; }
.title-wrapper { padding-bottom: 40px; }
.title-wrapper div { color: #898989; lin-height: 26px; padding-bottom: 20px; }
.title-wrapper ul { margin-top: 63px; padding-bottom: 20px; }
.title-wrapper ul li { display: inline-block; padding-left: 38px; }
.title-wrapper ul li:nth-child(1) { margin-left: 294px;  }
.title-wrapper ul li a { color: #898989; }
.title-wrapper ul li:nth-child(1) a { border-bottom: 1px solid rgba(187,145,120,0.9); }
.title-wrapper p { margin-top: 10px; }


.portfolio-pic ul { overflow: hidden; }
.portfolio-pic ul li { position: relative; top: 150px; padding: 20px; box-sizing: border-box; opacity:0; transition: 0.6s ease; display: none;}
.portfolio-pic ul li.scroll { top:0; opacity: 1; }
.portfolio-pic ul li > div { position: absolute; width: 80%; height: 70%;  left:50%; margin-left: -157px; top: 50%; margin-top: -94px; z-index:5; transition: 0.3s ease; cursor: pointer;}
.portfolio-pic ul li > div:hover { background: rgba(187,145,120,0.8); }
.portfolio-pic ul li > div > a { width: 100%; height: 100%; display: block; margin-top: -50px; padding-top: 50px;}
.portfolio-pic ul li > div > a > h3 { color: #fff; margin-left: 40px; margin-top: 50px; opacity: 0; transition: 0.3s ease; }
.portfolio-pic ul li > div > a > p { margin-left: 40px; color: #fff; margin-top: 5px; opacity: 0; transition: 0.3s ease; }
.portfolio-pic ul li > div:hover > a > h3 { opacity: 1; }
.portfolio-pic ul li > div:hover > a > p { opacity: 1;}
.portfolio-pic ul li img  { position: relative; width: 100%; z-index:2;}
.portfolio-pic ul li:hover > img { width: 200%; }
.portfolio-pic button { border:0; background: #c99679; padding: 10px 20px 10px 20px; color: #fff; margin-left: 50%; transform: translateX(-50%);}

.about { background: #f3f1f0; padding-bottom: 40px; padding-top: 40px; }
.about > div {overflow: hidden;}
.about h2 { color: #333; }
.about h3 { color: #333; font-size: 22px; }
.about > div > p:nth-child(2) { color: #777; margin-top: 10px; }
.about div > ul > li > div > p:nth-child(2) { color: #777; font-size: 16px; margin-top: 10px; line-height: 1.5555;}
.about div > ul > li > div > p:nth-child(3) { margin-top: 20px; color: #898989; font-size: 18px; line-height: 1.6;}
.about ul {  }
.about li {
  margin-top: 40px;
}
.about li div{
  padding: 40px;
  box-sizing: border-box;
  width: 98%;
  background: #fff;
}
.about li:nth-child(1) div { height: 348px;}
.about li div img { width: 100%;}
.about li:nth-child(2) div {
  float: right;
}







.ability { padding-top: 40px;  padding-bottom : 40px; overflow: hidden;}
.ability > div > p { color: #777; margin-top: 10px; padding-bottom: 40px; }

.tool-logo ul {
  border: 1px solid #ddd;
  border-right: 0;
  overflow: hidden;
}
.tool-logo li {
  height: 200px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-right: 1px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}
.tool-logo > ul > li > p {
  position: relative;
  z-index: 2;
  color: #fff;
  top: 50%;
  transform: translateY(-10px);
  opacity: 0;
}
.tool-logo ul li div {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #bb7c57;
  z-index:1;
  opacity: 0;
  transition: 0.3s ease;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}
.tool-logo ul li:hover > p {
  opacity: 1;
}
.tool-logo ul li:hover > div {
  opacity: 0.8;
}
.tool-logo ul li:hover > img {
  opacity: 0.7;
}
.tool-logo li img {
  position: relative;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
  width: 60px;
  opacity: 0.9;
  float: left;
  transform: translateY(-200px);
  transition: 0.3s ease;
}

.work-process { background: #f3f1f0; padding-top: 40px; padding-bottom: 40px; overflow: hidden; }
.work-process p { margin-top: 10px; color: #777; }
.work-process ul {padding-top: 20px; overflow: hidden;}
.work-process li { }
.work-process > div > ul > li > img { width: 30%; margin-left: 50%; transform: translateX(-50%); margin-top: 5px; }
.work-process > div > ul > li > p { margin-top: 20px; text-align: center; }

.contact { overflow: hidden; padding-top: 10px; padding-bottom: 10px; }
.contact > div > h2 {  }
.contact > div > ul > li:nth-child(2) { padding: 20px; box-sizing: border-box;}
.contact > div > ul > li:nth-child(1) { padding-top: 30px; box-sizing: border-box;}
.contact > div > ul > li:nth-child(1)  p { margin-top: 10px; color: #898989; }
.contact li:nth-child(1) a { display: block; margin-top: 20px; color: #c99679; }
.contact li:nth-child(1) h3 { margin-top: 20px;  }

.thankyou_message h2 { font-weight: bold; font-size: 18px; text-indent: 20px; margin-top: 10px; color: #c99679; }

footer { background: #f3f1f0; padding-top: 40px; padding-bottom: 40px; }
footer p { text-align: center; font-size: 14px; }
